<!DOCTYPE html>
<html>

<h1>Dashboard Admin</h1>

<h2>Total inscriptions : {{ total }}</h2>

<h3>Statistiques par cours</h3>

<ul>
{% for cours, nb in stats %}

<li>{{ cours }} : {{ nb }} inscrits</li>

{% endfor %}
</ul>

<h3>Liste des participants</h3>

<table border="1">

<tr>
<th>ID</th>
<th>Nom</th>
<th>Email</th>
<th>Cours</th>
</tr>

{% for row in data %}

<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
<td>{{ row[3] }}</td>
</tr>

{% endfor %}

</table>

<a href="/export">Exporter Excel</a>

</html>